@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --font-pixel: var(--font-pixel);
  --breakpoint-xs: 520px;
  --breakpoint-2xl: 1400px;
  --color-primary-background: rgba(255, 255, 255, 0.05);
  --color-primary-foreground: #fff;
  --color-secondary-background: rgba(255, 255, 255, 0.03);
  --color-secondary-foreground: rgba(255, 255, 255, 0.4);
  --color-blue-joust: #56acff;
  --color-blue-cosmos: #003049;
  --color-blue-hera: #7179ef;
  --color-green-benzol: #00d372;
  --color-pink-ice: #d87cac;
  --color-border: rgb(255 255 255 / 0.05);
  --background-image-grain: url(/images/background/noisy-background.jpg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .before-content-none::before {
    content: '';
  }
}

body {
  background: #000;
  color: #fff;
}

.fancy-btn {
  background-image: linear-gradient(
    135deg,
    var(--color-green-benzol),
    var(--color-blue-joust) 34%,
    var(--color-blue-hera) 67%,
    var(--color-pink-ice)
  );
  border-radius: 100em;
  padding: 0.3rem;
  max-width: 100%;
  display: inline-block;
}
